// Adopt Scene
.secondScene {
  background: white;
  text-align: center;
  padding: 5em 0em;

  .jumboTitle {
    padding: 0px 3em;
    h1 {
      font-size: $heading-section;
      color: $DarkOrange;
      margin-bottom: 0.8em;
    }
    h4 {
      line-height: 1.4em;
      font-weight: normal;
    }
  }

  .adoptFeature {
    display: flex;
    flex-direction: row;

    .featureItem {
      padding: 2.5em;
      h4 {
        font-family: "Fjalla One", sans-serif;
      }
      img {
        width: 100%;
      }
    }
  }
}
